<!doctype html>
<html lang="en">
    <head>
    <title>
        <%= title %>
    </title>
    <%- include partials/header.ejs %>
  </head>
  
  <body>
    <%- include('partials/nav'); %>

<main role="main">

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Featured</h1>
      <p>This page is for featured items</p>
    </div>
  </div>
  
  <div class="container">
     <h2 class="display-3">Featured Music for the month</h1>
    <li>
      <a href="music/Solitary-Refinement-LJZ026401.mp3">Solitary Refinement</a>
    </li>
    <li> 
      <a href="music/Washed-Clean-NAL012001.mp3">Washed Clean</a>
    </li>
    <li>
      <a href="music/Waltz-In-C-Sharp-Minor-CLM0113.mp3">Waltz In C Sharp Minor</a>
    </li>
    <li>
      <a href="music/Windup-Lullaby-CHJ010601.mp3">Windup Lullaby</a>
    </li>
    <li>
      <a href="music/With-You-in-My-Arms-SSJ011001.mp3">With You in My Arms</a>
    </li>
    <li> 
      <a href="music/What-Child-is-This-SLC016301.mp3">What Child is This</a>
    </li>
    <li>  
      <a href="music/Where-to-Go-Today_60_FIL018201.mp3">Where to Go Today</a>
    </li>
    
    
   
   
<!--  <form>
 <div class="form-group">
    <label for="Name">Name</label>
    <input type="textarea" class="form-control" id="Name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="InputEmail1">Email address</label>
    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">Email is required</small>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
</div>

</main>
    </div>

    <hr>

  </div> <!-- /container -->
<%- include partials/footer.ejs %>
</html>